# node environment (e.g development, 4000)
NODE_ENV=
PORT=

# logger level (e.g. all|debug|info|warn|error|fatal|off|trace)
LOGGER_LEVEL=

# cors allowed origins (e.g. "https://example.com, https://test.com")
WHITELIST=
