<!DOCTYPE html>
<html>
  <head>
    <style>
      .header {
        padding: 5px;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
      }

      .content {
        padding: 5px;
      }

      .content a {
        padding: 10px 15px;
        color: #fff;
        background: #15c;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="header">xskytech</div>
    
    <div class="content">
      <p>Thank you for singing up in our system. Please verify your email to discover more.</p>

      <a href="<%= confirmationUrl %>">Confirm Email</a>
    </div>
  </body>
</html>
